In [1]:
'''Se carga la librería que carga las bases de datos'''
import pandas as pd
'''Se importa la librería numpy para operaciones matemáticas'''
import numpy as np
'''Se importa sklearns para poder tratar con el aprendizaje supervisado'''
from sklearn.impute import SimpleImputer
'''Se importa la librería para manejar C,C++,Java,Python, etc'''
import json

In [2]:
'''Se importa el dataset cargado'''
df=pd.read_csv('data_act_01.csv',sep=';')
'''Se imprimen los registro de la base de datos'''
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [3]:
'''Se observa la dimensión de la base de datos'''
df.shape

(10051, 12)

In [4]:
'''Obtenemos la información sobre las variables de la base de datos'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [5]:
'''Se ordenan las columnas de la base de datos'''
columnas = ['CrimeId','OriginalCrimeTypeName','OffenseDate','CallTime','CallDateTime','Disposition','Address','City','State','AgencyId','Range','AddressType']

In [6]:
'''Al igual que en base de datos anteriores, se busca los registros vacíos y se suman'''
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [7]:
'''Se verifica la existencia de registros duplicados'''
df.duplicated().sum()

0

# Errores de la base de datos

1. Presencia la redundancia de datos al tener una columna para la hora, una columna para la fecha y otra columna para fecha y hora.

2. Tenemos datos vacíos en State y en City

3. La columna Range está completamente vacía

In [8]:
'''Se procede a encontrar los datos que son únicos'''
def d_unico(n_caracteristicas):
    '''Recorre las características de la base de datos'''
    for i in n_caracteristicas:
        '''Que almacene los datos únicos'''
        display(i, df[i].unique(), '----')

In [9]:
'''Impresión de los datos unicos'''
d_unico(columnas)

'CrimeId'

array([160903280, 160912272, 160912590, ..., 160964227, 160964229,
       160964249], dtype=int64)

'----'

'OriginalCrimeTypeName'

array(['Assault / Battery', 'Homeless Complaint', 'Susp Info', 'Report',
       '594', "Ref'd", 'Agg Assault / Adw Dv', 'Encampment', 'Burglary',
       'Suspicious Person', 'Ip', 'Arrest Made', 'Tent',
       'Intoxicated Person', 'Guitar', 'H&r Veh Accident', 'Music',
       'Person Dumping', 'Vandalism', 'Petty Theft', '415',
       'Noise Nuisance', 'Fraud', 'Rep', 'Meet W/citizen',
       'Prisoner Transport', 'Poss', 'Trespasser', 'Stolen Vehicle',
       'Fight No Weapon', 'Check For Ped', 'Juvenile Disturbance',
       'Party', 'Lltd', 'Robbery', '601', '500e', '913', 'Traffic Stop',
       '909', 'Person W/gun', 'Suspicious Vehicle', 'Fight No Weapon Dv',
       'Audible Alarm', 'Parking', 'Pay', 'Silent Holdup Alarm',
       'Passing Call', 'Sleeper', 'Family', 'Thumping', 'Loud Music',
       '916', 'Att', 'Threats / Harassment', 'Boombox',
       'Traf Violation Tow', 'Dw', 'Bar Check', 'Suicide Attempt', 'Susp',
       'Crosswalk', 'Casing/917', 'Wireless-Drop', 'Uc Hastings/405',
       'Bomb Threat', 'Mentally Disturbed', 'Silent Alarm',
       'Traf Violation Cite', 'Person Breaking In', 'Complaint Unkn',
       '811', 'Casing', 'Prowler', 'Shots Fired', 'Shooting', '915',
       'Citizen Arrest', '919', '417', 'Person Screaming',
       'Well Being Check', '917', '917/811', 'Jo/bolo',
       'Wanted Vehicle / Sub', 'Ug', 'Poss Ip', 'Hold-Up', '531', 'Fare',
       'Construction', 'Drugs', 'Campers', 'Poss/601',
       'Assault / Battery Dv', 'X', 'Return', 'Rtl', 'Verbal', '518',
       'Meet W/officer', '488', 'Awol', 'Strongarm Robbery', 'Aggressive',
       'Male', "Veh's", 'Rz', 'Sw', 'Encampent', 'Loitering',
       'Muni Inspection', 'Auto Boost / Strip', 'Jo', 'Dw/rz', '22500e',
       'Sleepers', 'Fire', 'Mal', 'Trc 7.2.46', 'Reckless', 'Camper',
       '22500f', 'City Veh', 'Openline', 'Indecent Exposure',
       'Injury Veh Accident', 'Rept', 'Cw', '851', 'Prem Check',
       'Person W/knife', 'Ringing Doorbell', 'Veh Accident',
       'Sleeper 601', 'I/p', 'Video', 'Unoccupied', 'R/o Violation',
       'Psych Eval / Hold', 'Missing Adult', 'Vehicle Alarm',
       'Person Down', '418', 'Found Drugs', 'Citizen Standby', 'Yelling',
       '7.2.41', 'Lltn', '7.2.45', 'Nabor', 'X 594', 'Glass Bottles',
       'Missing Juvenile', 'Sexual Assault Juve', '852', 'Escalating',
       'Demo / Protest', 'Death / Coroner', 'Jjo', 'Vc21113a',
       'Aggressive 601', 'Sexual Assault Adult', '601 Ug',
       'Recover Missing Veh', 'Npat', 'Aggr Soliciting', '7.2.46',
       'Dog Barking', '800', 'Grand Theft', 'Rz/dw',
       'H&r Injury Accident', 'Pepperspray', '22500e/22500b', 'Vendors',
       'Agg Assault / Adw', 'Crack', '905/muni', 'Opp', '311',
       'Stolen Property', 'Poss Caser', '22500h', '22514',
       'Senile Person', '311 X', 'Selling Foods', 'Muni', 'Elevator',
       'Veh', 'Ll/td', '221', 'Static', 'Road Rage', 'W/a Hammer',
       '221 Poss', 'At Risk', 'Drop', 'Juve Beyond Control', '22500e/.25',
       'Squattters', 'Illegal Vendor', '7.2.25', 'Parking Space',
       'Susp Poss', '22500a', '913/child', 'Dancer', '500f', '500h',
       '7.2.28', 'Drinking', '240/spit', 'Poss 5150', 'Ped',
       'Pepper Spray', '222', '487', '368ca Poss', '470', '22500i',
       'Panic Alarm', 'Drugs Needles', '911 Hu', 'Purse Snatch',
       '212 Poss', '7.2.26', 'Custody', '7.2.27', '22500eal',
       'Resisting Arrest', 'Mc', 'Dirtbikes', 'Gamblers', 'Drugs/dealing',
       'Drunk Driver', 'Ret', 'Spitter', 'Prostitute/solicite',
       'Aided Case', '22500f/cw', 'Suspect', '518/muni', '22500b',
       'Barking', '7.2.32', 'Bat', 'Dirtbikes/586', '213', 'Encampments',
       '7.2.38', '7.2.40', 'Ll/ll', 'Adv', 'Chp', '911-Drop', 'Hammer',
       'Open Line', 'Physical', 'Dog', '915 Sleeper', '910',
       'Pay Dispute', '245', 'Keys', 'Nabors', '650', 'Opportunist',
       'Live Band', 'Recorder', 'Female', 'Poss 152', 'Poss Casing',
       '915 Encampment', 'Tx To Chp', 'Party Yelling', '852 Poss',
       "Juv's", '586/poss 588', '5150', 'At The Atm', 'Male/poss Hazard',
       'Heated', 'Adv To 0123', 'Busn', 'Dw Tow', 'Band', 'Kidnapping',
       'Poss Attempt', 'Driveway', 'Threats Dv', '415 Music',
       'Att/240 Jo', '5150 Poss', 'Stick', 'Spike', '647b Poss', 'Alarm',
       'Sideshow', '22502a', 'Taxi Zone', 'Graffiti Vandalism', '601 Rtl',
       'Living', 'Roof', 'Dp', '22500l', '801 Poss', 'J/o', 'Gz', 'Caser',
       'Wz', '519', 'Poss Escalating', 'Sign', 'Ambulance', 'Drops//busn',
       'Suspects', '811 Male', 'Camp', 'Attemp', 'Drinkers', 'Uwg', 'Lp',
       'H&r', 'Poss 207', 'Tree Bark', 'Poss 800', 'Vendor', 'Casing/852',
       'Ro Viol', '519 Poss', '9915', 'Pups', '518hr', 'Reckless Mcs',
       '586', '800attempt', 'Follow Up', 'Chop Shop', 'Paydispute',
       'Illegal Gambling', 'Rep Identity Theft', '225800e',
       '852 Occupied', '594 Poss', 'Busn/voip', 'Roadrage', '252500e',
       '420 Drugs', '912', 'Sudrugs', 'Fi**expedite**', 'Rtl/aggressive',
       'Ro Violation', 'Tow Truck', '800 Poss', '*909*', '22500',
       '152 Jo', '7.2.25/2250e', 'Agressive', 'Pay Dis', 'Rtl Cab',
       'Drummer', '22500f/7.2.70', 'Person W/knife Dv', 'Hu', '800  Poss',
       '152 Poss', 'Elderly X', 'Hold Up', 'Chp 1030 Veh', 'Sagressive',
       'Bart', '240 Poss', 'Illegal Vendors', 'Loud Party', 'Stabbing',
       'Roomate', 'Fireworks', 'Property', 'Iph', 'Bottles', 'Cane',
       'Get Inside The Bldg', 'Music/909', 'Panic', '601rtl',
       'Vandalism Dv', 'Neighbors', 'Open', 'Poss/910prem Check',
       'Stattic', '594 Ip', '601uwg', '911', 'Poss 519', 'Making A Mess',
       'Campers W/bikes', 'Pos Jumper', 'Doorway/917', 'Camping',
       '**Tazer**', 'Loading Dock', 'Bl', 'Naked', 'Attempt',
       'Explosive Found', 'Car Campers', '915 Campers',
       'Poss Unreported 1030', 'Subj', 'Fp', 'Gambling', 'Wild',
       '5150 Hold Poss', '419', '7.2.41/22500f', 'Shooting Up',
       'St Vendors', '22500e/rz', 'Person Break In Dv', 'Veh W/open Door',
       '22507.8a', 'Poss 801', '901 For 909', 'Unocc', 'Samurai',
       '911 Open', 'Poss/851 Attemp Poss', 'Drugdealer', "Mc's", 'S',
       'Rp', '459', 'Atc', '915s', 'Rtl/811', '420', 'Amplified',
       'Tra7.2.37', 'Casers', 'Jump', 'Dismember Body Part', 'Poss/420',
       '500b', '7.2.25/22500e', 'Busy', '528 Poss', 'Poss Walk Thru',
       'Mace', 'Child', 'Loud Bass', 'Spit', 'Prem', 'Roof Squatters',
       '.25/500e', '910 X', 'Drug Use', 'In Svc/ On Foot', 'Explosion',
       'Scratch', '916/music', 'Return Call', 'Verbals', '100v',
       'Loud Talking', '601/415', 'Hot', 'Cassing', 'Poss 488', 'A',
       '152', '601/311', 'Trc 7.2.45', 'Cz', 'Silent', 'Poss Hazard',
       '502a', '801 Threats', 'Home Invasion', '911 Drop', 'Tz', 'Npa',
       'Toilet', 'Dropped Call', '459 Attempt', 'Ucpd', 'Jumper',
       'Dog Bite', '909x', 'Attempt Report', 'Tro', 'Stepping On Plants',
       'Muni Alarm', 'Ld', '240/602 Suspect', 'Poss Susp', '311x/poss800',
       'Dogs Barking', 'Panhandler W/pitbull', 'Video Surveillence',
       'H/r', '221/222 Poss', 'Areport', 'Protestors', '470 Poss',
       'Broken Window', '`Drugs', 'Haz', 'House', '418rm', '240', '21211',
       'Att Jo', "Loud Subj's", '811 Poss', '601/488', '7.2.70', 'Resd',
       'Maced', '801', 'Suatters', '22514/500b', '212', '911 Open Line',
       'Recycling', 'Park Ranger', 'Curb', 'Pills', 'Ll/ Tenant',
       '219/601', 'Ifo', '911 Hu Call', '920 Rtl', 'Poss Att', 'Att Only',
       'Ams', '***901 Req***', 'Drugs/915', 'Rpt', 'Children', '500e/rz',
       'Vehicle', 'Ug Rtl', '601/family', 'Death', 'Att Susp', '9909',
       '2 Reps', 'Vending', 'Drp', 'Brewing/pay Dispute', 'Skateboarders',
       'Sonitrol', 'Wreckless Driver', '148', 'Bicylist', '852 Casing',
       'Nabo', 'R.o. Violation', '910 Poss', '22500e/500h', 'Pay Disp',
       '22654e', 'Brewing', '.52', 'Phys', '222 Att', 'Wireless-Open',
       'Adv To Co A', 'Wireless-H/u'], dtype=object)

'----'

'OffenseDate'

array(['2016-03-30T00:00:00', '2016-03-31T00:00:00',
       '2016-04-01T00:00:00', '2016-04-02T00:00:00',
       '2016-04-03T00:00:00', '2016-04-04T00:00:00',
       '2013-04-04T00:00:00', '2025-04-04T00:00:00',
       '2016-04-05T00:00:00'], dtype=object)

'----'

'CallTime'

array(['18:42', '15:31', '16:49', ..., '6:12', '6:33', '6:55'],
      dtype=object)

'----'

'CallDateTime'

array(['2016-03-30T18:42:00', '2016-03-31T15:31:00',
       '2016-03-31T16:49:00', ..., '2016-04-05T23:43:00',
       '2016-04-05T23:48:00', '2016-04-05T23:54:00'], dtype=object)

'----'

'Disposition'

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

'----'

'Address'

array(['100 Block Of Chilton Av', '2300 Block Of Market St',
       '500 Block Of 7th St', ..., 'Hollister Av/hawes St',
       'Rosella Ct/onondaga Av', '0 Blk Herbst Rd'], dtype=object)

'----'

'City'

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'SAN FRANCISCO', 'Presidio', ' S', 'Brisbane'], dtype=object)

'----'

'State'

array(['CA', nan], dtype=object)

'----'

'AgencyId'

array(['1', 'CA'], dtype=object)

'----'

'Range'

array([nan])

'----'

'AddressType'

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

'----'

In [10]:
'''Buscar si los valores "unicos" se repiten'''
def d_unico(n_caracteristicas):
    for i in n_caracteristicas:
        display(df.groupby(i).size().reset_index(name='Cantidad'))

In [11]:
'''Mostrar datos unicos que se repiten'''
d_unico(columnas)

         CrimeId  Cantidad
0      160903280         1
1      160912272         1
2      160912590         1
3      160912801         1
4      160912811         1
...          ...       ...
10042  160964210         1
10043  160964216         1
10044  160964227         1
10045  160964229         1
10046  160964249         1

[10047 rows x 2 columns]

    OriginalCrimeTypeName  Cantidad
0           ***901 Req***         1
1               **Tazer**         1
2                   *909*         1
3                .25/500e         2
4                     .52         1
..                    ...       ...
570                    Wz        12
571                     X        17
572                 X 594         1
573               Yelling         3
574                `Drugs         1

[575 rows x 2 columns]

           OffenseDate  Cantidad
0  2013-04-04T00:00:00         1
1  2016-03-30T00:00:00         1
2  2016-03-31T00:00:00        87
3  2016-04-01T00:00:00      2224
4  2016-04-02T00:00:00      2259
5  2016-04-03T00:00:00      2193
6  2016-04-04T00:00:00      2255
7  2016-04-05T00:00:00      1030
8  2025-04-04T00:00:00         1

     CallTime  Cantidad
0        0:00        10
1        0:01         5
2        0:02         6
3        0:03        11
4        0:04        11
...       ...       ...
1411     9:55         7
1412     9:56         5
1413     9:57         7
1414     9:58        11
1415     9:59         9

[1416 rows x 2 columns]

             CallDateTime  Cantidad
0     2016-03-30T18:42:00         1
1     2016-03-31T15:31:00         1
2     2016-03-31T16:49:00         1
3     2016-03-31T17:38:00         1
4     2016-03-31T17:42:00         1
...                   ...       ...
5111  2016-04-05T23:32:00         2
5112  2016-04-05T23:38:00         1
5113  2016-04-05T23:43:00         1
5114  2016-04-05T23:48:00         2
5115  2016-04-05T23:54:00         1

[5116 rows x 2 columns]

     Disposition  Cantidad
0             22        77
1            ABA        97
2            ADM        48
3            ADV      1142
4            ARR        65
5            CAN       353
6            CIT      1425
7            CRT         2
8            GOA      1273
9            HAN      2820
10           INC        17
11           NCR        82
12            ND       427
13           NOM       324
14  Not recorded       543
15           PAS       170
16           REP       800
17           SFD         1
18           UTL       385

                        Address  Cantidad
0                  0 Blk 6th St         1
1     0 Blk Colin P Kelly Jr St         1
2              0 Blk Eugenia Av         1
3                 0 Blk Fern St         1
4              0 Blk Harriet St         3
...                         ...       ...
5382         Yerba Buena Island         1
5383         Yorba St/sunset Bl         1
5384            York St/19th St         1
5385            York St/24th St         1
5386    Yosemite Av/jennings St         1

[5387 rows x 2 columns]

            City  Cantidad
0              S         1
1       Brisbane         1
2      Daly City         5
3       Presidio         3
4  SAN FRANCISCO         1
5  San Francisco      9665
6  Treasure Isla        51
7    Yerba Buena         3

  State  Cantidad
0    CA     10048

  AgencyId  Cantidad
0        1     10048
1       CA         3

Empty DataFrame
Columns: [Range, Cantidad]
Index: []

       AddressType  Cantidad
0                1         3
1  Common Location       818
2     Geo-Override       469
3     Intersection      3701
4    Intersectioon         1
5  Premise Address      5059

# Primera solución a tomar

Se procede a eliminar las columnas redundantes: OffenseDate,CallTime y CallDateTime, nos quedaremos con CallDateTime

In [12]:
df.drop(['OffenseDate', 'CallTime'], axis=1)

,CrimeId,OriginalCrimeTypeName,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

# Eliminar datos desconocidos

En este caso recordemos que Range no tiene datos así que se eliminará

In [13]:
'''Se elimina la columna Range que está vacía'''
df.drop(columns='Range', axis=1, inplace=True)

# Tratamiento a datos faltantes

Para los datos vacíos se agruparán para encontrar un patrón y saber qué tratamiento darles

In [14]:
'''Agrupamiento de datos'''
df.groupby(['AgencyId','AddressType']).count()

                          CrimeId  OriginalCrimeTypeName  OffenseDate  \
AgencyId AddressType
1        Common Location      818                    818          818
         Geo-Override         469                    469          469
         Intersection        3701                   3701         3701
         Intersectioon          1                      1            1
         Premise Address     5059                   5059         5059
CA       1                      3                      3            3

                          CallTime  CallDateTime  Disposition  Address  City  \
AgencyId AddressType
1        Common Location       818           818          818      818   817
         Geo-Override          469           469          469      469   151
         Intersection         3701          3701         3701     3701  3701
         Intersectioon           1             1            1        1     1
         Premise Address      5059          5059         5059     5059  5059
CA       1                       3             3            3        3     1

                          State
AgencyId AddressType
1        Common Location    818
         Geo-Override       469
         Intersection      3701
         Intersectioon        1
         Premise Address   5059
CA       1                    0

In [15]:
'''Se toman valores de los datos faltantes'''
df[(df['AgencyId']=='CA') & (df['AddressType']=='1')]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,NaN,NaN,CA,1
8021,160952280,Auto Boost / Strip,2016-04-04T00:00:00,14:46,2016-04-04T14:46:00,REP,Martin Luther King Dr/nancy Pelosi Dr,S,NaN,CA,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,NaN,NaN,CA,1

In [16]:
'''El tratamiento que se dará a los datos faltantes es la eliminación'''
'''El mismo tratamiento se le dará a los valores no reconocidos'''
df.drop([5771, 8021, 8473], axis=0, inplace=True)

In [17]:
'''Al eliminar los datos inválidos nos queda un nuevo dataset'''
df.shape

(10048, 11)

In [18]:
'''Se procede a verificar qué otros datos faltan'''
df.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     319
State                      0
AgencyId                   0
AddressType                0
dtype: int64

# Tratamiento de datos faltantes tipo letras

Al igual que en el anterior apartado, verémos qué hacer con los datos que faltan en City

In [19]:
'''Se verifican los valores únicos de la columna'''
df['City'].unique()

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'SAN FRANCISCO', 'Presidio', 'Brisbane'], dtype=object)

In [20]:
'''Ver qué columna contiene el dato repetido con mayúsculas'''
df[(df['City']=='SAN FRANCISCO')]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
3420,160931948,Pups,2016-04-02T00:00:00,14:04,2016-04-02T14:04:00,HAN,Van Ness Av/north Point St,SAN FRANCISCO,CA,1,Intersection

In [21]:
'''Cambiamos el dato con el comando loc para cambiar las palabras'''
df['City']= df['City'].replace(['SAN FRANCISCO'],'San Francisco')

In [89]:
'''Ejecutamos el comando de valores unicos para verificar el cambio'''
df['City'].unique()

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'Presidio', 'Brisbane'], dtype=object)

# Analizamos las etiquetas del la Dirección

Se vio datos que bien se podrían considerar mal escritos al haber dos tipos de Intersecciones como se mostrará a continuación

In [22]:
'''Se muestra los valores unicos de la columna AddressType'''
d_unico(['AddressType'])

       AddressType  Cantidad
0  Common Location       818
1     Geo-Override       469
2     Intersection      3701
3    Intersectioon         1
4  Premise Address      5059

In [23]:
'''se estandariza la intersección en los datos'''
df['AddressType']= df['AddressType'].replace(['Intersectioon'],'Intersection')

In [24]:
'''Verificamos el cambio de valores'''
d_unico(['AddressType'])

       AddressType  Cantidad
0  Common Location       818
1     Geo-Override       469
2     Intersection      3702
3  Premise Address      5059